
.hidden { display: none; }


#container {
	margin: 0 auto;
	width: 1920px;
}

.grid-con {

    display: grid;
	grid-template-columns: repeat(12, 109px);
	grid-column-gap: 30px;
	padding-left: 140px;
	padding-right: 140px;
}

#main-header {

    grid-column: 1/6;

}

#main-header h2 {
    font-size: 90px;
    font-family: 'Lobster', Arial, sans-serif, cursive; 
    letter-spacing: 13px;
    color: #7EB375;
    margin-bottom: 0;
}

#main-header h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 50px;
    text-align: end;
    margin-top: 0;

}

#main-nav {
     
    grid-column: 9/-1;
}

#nav-background {

    background: #EBEBEB;
    padding: 5px 1px;
    margin-top: 110px;
    border-radius: 66px;
    padding-left: 0px;
    margin-right: 0px;
}

#main-nav ul {
	list-style: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#main-nav ul li {
    display: inline;
    margin-right: 50px;
   
    
}

#main-nav ul li a {
    color: #000000; 
    text-decoration: none;

}

#main-nav ul li a:hover {
    border-bottom: 5px solid #7EB375;
    padding-bottom: 8px;
    text-decoration: none;
}

.search {
	grid-column: 9/-1;
}

.search .search-collection {
	position: relative;
	left: 3em;
	border: none;
	border-radius:  5px;
	font: inherit;
	font-size: 30px;
	color: #000000;
	margin-top: 53px;
	padding: 10px;
	}

#search-submit {
	background-color: #88a2d763;  
	margin-left: 10px;
}

#search-submit:hover {
    background-color: #88A2D7;
	cursor: pointer;
}


